Welcome to the second module introducing `pandas` in AccFin Research.

`pandas` is the most useful Python library for data analysis in our research. In the second module, you will learn how to use `pandas` to handle data in tabular form. We will cover the fundamental operations needed to load data, explore it, clean it, and prepare it for further analysis. By the end, you’ll have the skills to manage real-world datasets and apply `pandas` to replicate a saminal paper.

**Learning Outcomes**

By completing this tutorial, you will be able to:

- Create and explore *Series* and *DataFrames*, the two core data structures in `pandas`.

- Import and export datasets from common formats such as CSV and Stata.

- Inspect and summarize data using built-in functions.

- Select, filter, and slice data to focus on what matters.

- Clean and transform datasets by handling missing values, renaming columns, and changing data types.

- Perform basic data analysis with sorting, grouping, and simple aggregations.

- Integrate pandas workflows into larger Python projects.

In [ ]:
import numpy as np
import pandas as pd

### 1. pandas Series

In [ ]:
#create a Series object from a Python List object
List = ['Tesla','2023','1 TESLA ROAD, AUSTIN, TX', 106_618]
series = pd.Series(List)
print(series)

In [ ]:
#create a Series object from a Numpy array object
array1 = np.array(['Tesla','2023','1 TESLA ROAD, AUSTIN, TX', 106_618])
series = pd.Series(array1)
print(series)

In [ ]:
#Slicing a Series object
print(series[0])
print(series[3:])

In [ ]:
#create a Series object, dict1, from a dictionary object
dict1 = {"CompName":"Tesla", "fyear":2023, "Address": "1 TESLA ROAD, AUSTIN, TX", "at": 106_618}
series1 = pd.Series(dict1)
print(series1)

In [ ]:
series2 = pd.Series(['Tesla','2023','1 TESLA ROAD, AUSTIN, TX', 106_618], index=['CompName', 'fyear', 'Address', 'at'])
print(series2)

In [ ]:
#Slicing a Series object by the Index
print(series1["fyear"])
print(series1["Address":])

The difference between a Python list and a Pandas Series object is that:

- The elements in a Series object can be indexed by a label.
- A Series object can directly apply comparison:

In [ ]:
List = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(List)

print(series > 5)
print('However, List cannot be compared to a scalar value:')

try:
    print(List > 5) #This will throw an error
except Exception as e:
    print(f'Error: {e}')

In [ ]:
series[series > 5]

### 2. pandas DataFrame - Basic
The difference between a *Series* object and a *DataFrame* object is that a Series object has only one row, while a DataFrame object is a table with multiple rows.

#### 2.1. Load data

In [ ]:
#Load data from a csv file
df = pd.read_csv('data/comp_sample.csv', parse_dates=['datadate'])

# pd.read_stata('comp_sample.dta'); 
# pd.read_excel('comp_sample.xlsx'); 
# pd.read_sas('comp_sample.sas7bdat', format = 'sas7bdat', encoding="utf-8")

# df.to_csv('comp_sample.csv', index=False)
# df.to_stata('comp_sample.dta', ignore_index=True)

#### 2.2. DataFrame Attributes

In [ ]:
#get a list of columns using the `columns` attrniute
df.columns

#### 2.3. Accessing DataFrames

##### `.iloc` and `.loc`
**Key Differences**
|Feature|.loc|.iloc|
| --- | --- | --- |
|Selection|Label-based|Integer position-based|
|Slicing|Inclusive|Exclusive (Python's standard slicing)|
|Error Handling|Raises `KeyError` for invalid label|Raises `IndexError` for invalid position|

##### Selecting columns

##### Drop columns using `.drop()`

#### 2.4. Filtering
(Selecting Rows)

##### 2.4.1. query()

The `df.query()` method in pandas is a versatile tool for filtering DataFrame rows using string expressions. It supports a wide range of operations, allowing you to create complex queries that might be cumbersome with traditional boolean indexing. Here are some of the filtering capabilities you can achieve with `df.query()`:

- 1. **Basic Comparisons**

You can use comparison operators like `>`, `<`, `>=`, `<=`, `==`, and `!=` within the query string to filter data based on numeric or date-time conditions.

You can also check for membership `in` a list or array, which is useful for filtering categories or groups.

You can combine conditions using logical operators like `&`, `|`, and `~`.

- 2. **String Operations**

`query()` supports string methods that can be used to filter rows based on string conditions. You must use the `str` accessor.

- 3. **Null Checks**

You can check for null (or non-null) values using `isnull()` and `notnull()`.

- 4. **Variable Substitution**

You can include external variables in your query by prefixing them with an `@` symbol. This is useful for dynamic queries based on variable values.

- 6. **Complex Expressions**

You can use more complex expressions involving arithmetic operations, functions, and more.

**Note**: For some operations, especially those involving string methods or checking for null values, you need to specify the query engine as `python` because the default `numexpr` engine does not support all operations.

#### 2.5. Missing data

#### 2.6. Sort

#### 2.7. Duplicates

keep='first' (default): Marks duplicates as True except for the first occurrence.

keep='last': Marks duplicates as True except for the last occurrence.

keep=False: Marks all duplicates as True.

When removing duplicates, we have 3 options:
- `df.drop_duplicates(subset=['gvkey','fyear'], inplace=True)` keeps the **first** occurrence of unique combinations of `gvkey` and `fyear`.
- `df.drop_duplicates(subset=['gvkey','fyear'], keep='last', inplace=True)` keeps the **last** occurrence of unique combinations of `gvkey` and `fyear`.
- `df.drop_duplicates(subset=['gvkey','fyear'], keep=False, inplace=True)` keeps **none** of the duplicated combinations of `gvkey` and `fyear`.

#### 2.8. Generate Variables

##### 2.8.1. Working with Date

**Date Format**

`%Y`: Year with century as a decimal number.

`%y`: Year without century as a zero-padded decimal number (00-99).

`%m`: Month as a zero-padded decimal number (01-12).

`%B`: Full month name (January - December).

`%b`: Locale’s abbreviated month name (Jan - Dec).

`%d`: Day of the month as a zero-padded decimal number (01-31).

`%H`: Hour (24-hour clock) as a zero-padded decimal number (00-23).

`%I`: Hour (12-hour clock) as a zero-padded decimal number (01-12).

`%M`: Minute as a zero-padded decimal number (00-59).

`%S`: Second as a zero-padded decimal number (00-59).

`%p`: Locale’s equivalent of either AM or PM.

`%A`: Locale’s full weekday name.

`%a`: Locale’s abbreviated weekday name.

`%c`: Locale’s appropriate date and time representation.

##### 2.8.2. apply() function

### 3. Summary statistics

#### 3.1. Winsorization and Trucation

In [ ]:
# Alternatively, you can use the `winsorize` function from the `scipy.stats.mstats` module
from scipy.stats.mstats import winsorize
df['at_w1'] = winsorize(df['at'], limits=[.01,.01], inclusive=[False, False])

### 4. Groupby

#### 4.1. Aggregation
Aggregation is one of the most common uses of groupby(), where you compute a summary statistic (or statistics) about each group. 

For example, you can calculate the mean, median, sum, min, and max.

**Useful aggregate methods on Pandas**
- `count()`, `.sum()`	Total number of items
- `first()`, `last()`	First and last item
- `mean()`, `median()`	Mean and median
- `min()`, `max()`	Minimum and maximum
- `std()`, `var()`	Standard deviation and variance
- `prod()`	Product of all items
- `sum()`	Sum of all items

#### 4.2. Transformation
Transformation returns a DataFrame that is the same size as the input and is useful for operations such as filling NAs within groups with a value derived from each group.

#### **Homework**: Try to write the following function of winsorizing by group:

#### 4.3. Filtering
Sometimes you might want to filter the data based on the properties of the group.

For example, you might keep all the firms whose total asset is always larger than 100m.

#### 4.4 Summarizing
Using descrnie() on a groupby object to get a quick overview of the statistics for each group is also very common.

#### 4.5. Apply
The apply() method lets you apply a custom function to each group. This is useful for more complex operations that require a custom aggregation or transformation.

#### 4.6. Shift

This is not a good practice as it cannot tell if the previous observation is indeed for the previous year.

You should add:

### 5. Append and Merging

#### 5.1. Append using `pd.concat()`

#### 5.2. Merge using `pd.merge()`
Basic:

pd.merge(left_Dataframe, right_Dataframe, how='inner', on=[matching variables] {OR left_on= , right_on= })

##### 5.2.1. One-to-one matching

##### 5.2.2. One-to-many matching

##### 5.2.3. Many-to-many merge

CCM: merge permno to Compustat data

In [ ]:
ccm = pd.read_csv('data/ccm.csv', parse_dates=['LINKDT','LINKENDDT'])

##### 5.2.4. Merge using SQLite

In [ ]:
import sqlite3